# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/

# Environment files and secrets (Never send .env or .env.example to GitHub)
.env
.env.*
*.env
*.env.*
.env.example
*.env.example
client/.env
client/.env.*
client/.env.example
server/.env
server/.env.*
server/.env.example

# Logs and runtime data
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo